{% extends "layout.html" %}
{% block content %}
        <article class="content-section">
            <h1>Alexander S</h1>
            <table class="table">
                <thead><tr><th>Name</th><th>Room Type</th><th>Number Of Nights</th></tr></thead>
                <tbody>
                    <tr><td>Alexander S</td><td>1-room large</td><td> 2 </td><td><a class="ml-2 small" href="{{ url_for('admin_view') }}">Remove</a></td></tr>
                </tbody>
            </table>
        </article>
{% endblock content %}